version: "3.7"
services:
  nginx:
    image: nginx:latest
    restart: on-failure
    ports:
      - ${PORT}:80
    command: sh -c "mkdir -p /data/nginx/cache && nginx -g 'daemon off;'"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf

  model_predictor_1:
    # Configuration for your first model_predictor instance goes here
    # ...
    image: ${IMAGE_NAME}:${IMAGE_TAG}
    restart: on-failure
    volumes:
      - ../../data_warehouse/raw_data:/sample_solution/data_warehouse/raw_data
      - ../../data_warehouse/captured_data:/sample_solution/data_warehouse/captured_data
      - ../../data_warehouse/processed_data:/sample_solution/data_warehouse/processed_data
      - ../../prob_resource:/sample_solution/prob_resource

    environment:
      MODEL_1_CONFIG_PATH: ${MODEL_1_CONFIG_PATH}
      MODEL_2_CONFIG_PATH: ${MODEL_2_CONFIG_PATH}

      MLFLOW_TRACKING_URI: http://host.docker.internal:5000
    extra_hosts:
      - "host.docker.internal:host-gateway"
    entrypoint: /bin/sh -c "python src/model_predictor.py --config-path ${MODEL_1_CONFIG_PATH} ${MODEL_2_CONFIG_PATH} --port 8000"

    ports:
      - "8000:8000"

  model_predictor_2:
    # Configuration for your second model_predictor instance goes here
    # ...
    image: ${IMAGE_NAME}:${IMAGE_TAG}
    restart: on-failure
    volumes:
      - ../../data_warehouse/raw_data:/sample_solution/data_warehouse/raw_data
      - ../../data_warehouse/captured_data:/sample_solution/data_warehouse/captured_data
      - ../../data_warehouse/processed_data:/sample_solution/data_warehouse/processed_data
      - ../../prob_resource:/sample_solution/prob_resource
      
    environment:
      MODEL_1_CONFIG_PATH: ${MODEL_1_CONFIG_PATH}
      MODEL_2_CONFIG_PATH: ${MODEL_2_CONFIG_PATH}

      MLFLOW_TRACKING_URI: http://host.docker.internal:5000
    extra_hosts:
      - "host.docker.internal:host-gateway"
    entrypoint: /bin/sh -c "python src/model_predictor.py --config-path ${MODEL_1_CONFIG_PATH} ${MODEL_2_CONFIG_PATH} --port 8000"

    ports:
      - "8001:8000"

  model_predictor_3:
    # Configuration for your third model_predictor instance goes here
    # ...
    image: ${IMAGE_NAME}:${IMAGE_TAG}
    restart: on-failure
    volumes:
      - ../../data_warehouse/raw_data:/sample_solution/data_warehouse/raw_data
      - ../../data_warehouse/captured_data:/sample_solution/data_warehouse/captured_data
      - ../../data_warehouse/processed_data:/sample_solution/data_warehouse/processed_data
      - ../../prob_resource:/sample_solution/prob_resource
      
    environment:
      MODEL_1_CONFIG_PATH: ${MODEL_1_CONFIG_PATH}
      MODEL_2_CONFIG_PATH: ${MODEL_2_CONFIG_PATH}

      MLFLOW_TRACKING_URI: http://host.docker.internal:5000
    extra_hosts:
      - "host.docker.internal:host-gateway"
    entrypoint: /bin/sh -c "python src/model_predictor.py --config-path ${MODEL_1_CONFIG_PATH} ${MODEL_2_CONFIG_PATH} --port 8000"

    ports:
      - "8002:8000"

  model_predictor_4:
    # Configuration for your third model_predictor instance goes here
    # ...
    image: ${IMAGE_NAME}:${IMAGE_TAG}
    restart: on-failure
    volumes:
      - ../../data_warehouse/raw_data:/sample_solution/data_warehouse/raw_data
      - ../../data_warehouse/captured_data:/sample_solution/data_warehouse/captured_data
      - ../../data_warehouse/processed_data:/sample_solution/data_warehouse/processed_data
      - ../../prob_resource:/sample_solution/prob_resource
      
    environment:
      MODEL_1_CONFIG_PATH: ${MODEL_1_CONFIG_PATH}
      MODEL_2_CONFIG_PATH: ${MODEL_2_CONFIG_PATH}

      MLFLOW_TRACKING_URI: http://host.docker.internal:5000
    extra_hosts:
      - "host.docker.internal:host-gateway"
    entrypoint: /bin/sh -c "python src/model_predictor.py --config-path ${MODEL_1_CONFIG_PATH} ${MODEL_2_CONFIG_PATH} --port 8000"

    ports:
      - "8003:8000"
  
  model_predictor_5:
    # Configuration for your third model_predictor instance goes here
    # ...
    image: ${IMAGE_NAME}:${IMAGE_TAG}
    restart: on-failure
    volumes:
      - ../../data_warehouse/raw_data:/sample_solution/data_warehouse/raw_data
      - ../../data_warehouse/captured_data:/sample_solution/data_warehouse/captured_data
      - ../../data_warehouse/processed_data:/sample_solution/data_warehouse/processed_data
      - ../../prob_resource:/sample_solution/prob_resource
      
    environment:
      MODEL_1_CONFIG_PATH: ${MODEL_1_CONFIG_PATH}
      MODEL_2_CONFIG_PATH: ${MODEL_2_CONFIG_PATH}

      MLFLOW_TRACKING_URI: http://host.docker.internal:5000
    extra_hosts:
      - "host.docker.internal:host-gateway"
    entrypoint: /bin/sh -c "python src/model_predictor.py --config-path ${MODEL_1_CONFIG_PATH} ${MODEL_2_CONFIG_PATH} --port 8000"

    ports:
      - "8004:8000"

  model_predictor_6:
    # Configuration for your third model_predictor instance goes here
    # ...
    image: ${IMAGE_NAME}:${IMAGE_TAG}
    restart: on-failure
    volumes:
      - ../../data_warehouse/raw_data:/sample_solution/data_warehouse/raw_data
      - ../../data_warehouse/captured_data:/sample_solution/data_warehouse/captured_data
      - ../../data_warehouse/processed_data:/sample_solution/data_warehouse/processed_data
      - ../../prob_resource:/sample_solution/prob_resource
      
    environment:
      MODEL_1_CONFIG_PATH: ${MODEL_1_CONFIG_PATH}
      MODEL_2_CONFIG_PATH: ${MODEL_2_CONFIG_PATH}

      MLFLOW_TRACKING_URI: http://host.docker.internal:5000
    extra_hosts:
      - "host.docker.internal:host-gateway"
    entrypoint: /bin/sh -c "python src/model_predictor.py --config-path ${MODEL_1_CONFIG_PATH} ${MODEL_2_CONFIG_PATH} --port 8000"

    ports:
      - "8005:8000"

  model_predictor_7:
    # Configuration for your third model_predictor instance goes here
    # ...
    image: ${IMAGE_NAME}:${IMAGE_TAG}
    restart: on-failure
    volumes:
      - ../../data_warehouse/raw_data:/sample_solution/data_warehouse/raw_data
      - ../../data_warehouse/captured_data:/sample_solution/data_warehouse/captured_data
      - ../../data_warehouse/processed_data:/sample_solution/data_warehouse/processed_data
      - ../../prob_resource:/sample_solution/prob_resource
      
    environment:
      MODEL_1_CONFIG_PATH: ${MODEL_1_CONFIG_PATH}
      MODEL_2_CONFIG_PATH: ${MODEL_2_CONFIG_PATH}

      MLFLOW_TRACKING_URI: http://host.docker.internal:5000
    extra_hosts:
      - "host.docker.internal:host-gateway"
    entrypoint: /bin/sh -c "python src/model_predictor.py --config-path ${MODEL_1_CONFIG_PATH} ${MODEL_2_CONFIG_PATH} --port 8000"

    ports:
      - "8006:8000"

  # model_predictor_8:
  #   # Configuration for your third model_predictor instance goes here
  #   # ...
  #   image: ${IMAGE_NAME}:${IMAGE_TAG}
  #   restart: on-failure
  #   volumes:
  #     - ../../data_warehouse/raw_data:/sample_solution/data_warehouse/raw_data
  #     - ../../data_warehouse/captured_data:/sample_solution/data_warehouse/captured_data
  #     - ../../data_warehouse/processed_data:/sample_solution/data_warehouse/processed_data
  #     - ../../prob_resource:/sample_solution/prob_resource
      
  #   environment:
  #     MODEL_1_CONFIG_PATH: ${MODEL_1_CONFIG_PATH}
  #     MODEL_2_CONFIG_PATH: ${MODEL_2_CONFIG_PATH}

  #     MLFLOW_TRACKING_URI: http://host.docker.internal:5000
  #   extra_hosts:
  #     - "host.docker.internal:host-gateway"
  #   entrypoint: /bin/sh -c "python src/model_predictor.py --config-path ${MODEL_1_CONFIG_PATH} ${MODEL_2_CONFIG_PATH} --port 8000"

  #   ports:
  #     - "8007:8000"


  # model_predictor_9:
  #   # Configuration for your third model_predictor instance goes here
  #   # ...
  #   image: ${IMAGE_NAME}:${IMAGE_TAG}
  #   restart: on-failure
  #   volumes:
  #     - ../../data_warehouse/raw_data:/sample_solution/data_warehouse/raw_data
  #     - ../../data_warehouse/captured_data:/sample_solution/data_warehouse/captured_data
  #     - ../../data_warehouse/processed_data:/sample_solution/data_warehouse/processed_data
  #     - ../../prob_resource:/sample_solution/prob_resource
      
  #   environment:
  #     MODEL_1_CONFIG_PATH: ${MODEL_1_CONFIG_PATH}
  #     MODEL_2_CONFIG_PATH: ${MODEL_2_CONFIG_PATH}

  #     MLFLOW_TRACKING_URI: http://host.docker.internal:5000
  #   extra_hosts:
  #     - "host.docker.internal:host-gateway"
  #   entrypoint: /bin/sh -c "python src/model_predictor.py --config-path ${MODEL_1_CONFIG_PATH} ${MODEL_2_CONFIG_PATH} --port 8000"

  #   ports:
  #     - "8008:8000"


  # model_predictor_10:
  #   # Configuration for your third model_predictor instance goes here
  #   # ...
  #   image: ${IMAGE_NAME}:${IMAGE_TAG}
  #   restart: on-failure
  #   volumes:
  #     - ../../data_warehouse/raw_data:/sample_solution/data_warehouse/raw_data
  #     - ../../data_warehouse/captured_data:/sample_solution/data_warehouse/captured_data
  #     - ../../data_warehouse/processed_data:/sample_solution/data_warehouse/processed_data
  #     - ../../prob_resource:/sample_solution/prob_resource
      
  #   environment:
  #     MODEL_1_CONFIG_PATH: ${MODEL_1_CONFIG_PATH}
  #     MODEL_2_CONFIG_PATH: ${MODEL_2_CONFIG_PATH}

  #     MLFLOW_TRACKING_URI: http://host.docker.internal:5000
  #   extra_hosts:
  #     - "host.docker.internal:host-gateway"
  #   entrypoint: /bin/sh -c "python src/model_predictor.py --config-path ${MODEL_1_CONFIG_PATH} ${MODEL_2_CONFIG_PATH} --port 8000"

  #   ports:
  #     - "8009:8000"
